body {

    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

#btn {

    background-color: rgb(217, 89, 194);
    padding: 15px 30px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(105, 206, 231);
    
}